.promo {
    padding-top: 30px;
    padding-bottom: 189px;
}

.promo__list {
    display: grid;
    grid-template-columns:  repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 60px;
}

.promo__box {
    position: relative;
    display: flex;
}

.promo__item-one {
    align-items: end;
    padding: 20px 20px;
}

.promo__item-two {
    align-items: start;
    padding: 78px 20px 20px 14px;
}

.promo__item-three {
    align-items: start;
    padding: 20px 20px;
}

.promo__item-four {
    align-items: end;
    padding: 22px 20px;
}

.promo__item-five {
    align-items: end;
    padding: 30px 30px;
}

.promo__item-six {
    align-items: end;
    padding: 30px 30px;
}

.promo__item-seven {
    align-items: end;
    padding: 50px 50px;
}

.promo__item-eight {
    align-items: end;
    padding: 20px 20px;
}

.promo__item-nine {
    align-items: end;
    padding: 20px 20px;
}

.promo__item-ten {
    display: block;
}

.promo__box:nth-child(3) {
    grid-column: 1/span 2;
}

.promo__box:nth-child(4) {
    grid-column: 3/5;
    grid-row: 1/3;
}

.promo__box:nth-child(5) {
    grid-column: 5/7;
    grid-row: 1/2;
}

.promo__box:nth-child(6) {
    grid-column: 5/7;
}

.promo__box:nth-child(7) {
    grid-column: 1/5;
    grid-row: 3/5;
}

.promo__box:nth-child(8) {
    grid-column: 5/6;
    grid-row: 3/5;
}

.promo__box:nth-child(10) {
    grid-column: 6/7;
}

.promo__box::after {
    content: '';
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("path_to_image");
    position: absolute;
    inset: 0;
    border-radius: 20px;
    z-index: 2;
}

.promo__image {
    object-fit: cover;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.promo__image-1 {
    position: absolute;
    inset: 0;
}

.promo__text-four {
    font-size: 40px;
    font-weight: 400;
    line-height: 120%;
    color: var(--color-white);
    padding: 26px 24px;
    max-width: 500px;
    position: relative;
    z-index: 5;
}

.promo__text-one {
    font-size: 30px;
    line-height: 130%;
    color: var(--color-white);
    white-space: pre-line;
    z-index: 4;
}

.text-bold {
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
}

.promo__text-two {
    font-size: 30px;
    line-height: 130%;
    color: var(--color-white);
    font-weight: 700;
    z-index: 5;
}

.promo__sale-card {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 3;
}

.promo__sale-card-1-2 {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 3;
}


.sale-card {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-white);
    line-height: 130%;
    padding: 24px 9px 25px 8px;
    position: relative;
    z-index: 1;
}

.sale-card::before {
    content: '';
    width: 88px;
    height: 88px;
    border-radius: 50px;
    bottom: 0;
    right: 0;
    background-color: var(--color-orange-bg);
    position: absolute;
    z-index: -1;
}

.promo__text-wrapper-four {
    position: absolute;
    bottom: 20px;
    right: 20px;
    left: 20px;
    background-color: var(--color-blue-bg);
    border-radius: 20px;
    z-index: 3;
}

.text-bold-56 {
    font-size: 56px;
    font-weight: 700;
    line-height: 144%;
}

.promo__text-five {
    font-size: 40px;
    line-height: 144%;
    color: #fff;
    font-weight: 700;
    z-index: 4;
}

.promo__text-six {
    font-size: 40px;
    line-height: 130%;
    color: #fff;
    font-weight: 700;
    z-index: 4;
}

.promo__text-seven {
    font-size: 40px;
    font-weight: 700;
    line-height: 125%;
    color: var(--color-red-txt);
    padding: 32px 41px 32px 42px;
    text-transform: uppercase;
}

.promo__text-wrapper-seven {
    position: absolute;
    bottom: 50px;
    left: 50px;
    background-color: var(--color-white);
    border-radius: 20px;
    z-index: 3;
}

.promo__text-bold-nine {
    font-size: 30px;
    line-height: 130%;
    color: var(--color-white);
    font-weight: 700;
    z-index: 5;
}


@media (max-width: 1600px) {
    .promo__list {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr) 418px;
        gap: 24px;
    }

    .promo__item-two {
        align-items: start;
    }

    .promo__box:nth-child(3) {
        grid-column: 1/span 2;
        grid-row: 2/3;
    }    
    
    .promo__box:nth-child(4) {
        grid-column: 3/ span 2;
        grid-row: 1/3;
    }
    
    .promo__box:nth-child(5) {
        grid-column: 1/3;
        grid-row: 3/4;
    }
    
    .promo__box:nth-child(6) {
        grid-column: 1/3;
        grid-row: 4/5;
    }
    
    .promo__box:nth-child(7) {
        grid-column: 1/ span 4;
        grid-row: 5/6;
    }
    
    .promo__box:nth-child(8) {
        grid-column: 3/4;
        grid-row: 3/5;
    }
    
    .promo__box:nth-child(9) {
        grid-column: 4/5;
        grid-row: 3/4;
    }
    
    .promo__box:nth-child(10) {
        grid-column: 4/5;
        grid-row: 4/5;
    }
}

@media (max-width: 1024px) {
    .promo {
        padding-top: 11px;
        padding-bottom: 106px;
    }

    .promo__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 217px) 418px;
        gap: 24px;
    }

    .promo__box::after {
        border-radius: 16px;
    }

    .promo__item-one {
        padding: 20px 18px 25px 9px;
    }

    .promo__item-two {
        padding: 58px 31px 20px 9px;
    }

    .promo__item-five {
        padding: 20px 20px 27px 20px;
    }

    .promo__item-six {
        padding: 20px 20px 20px 20px;
    }

    .promo__item-nine {
        padding: 14px 14px;
    }

.promo__box:nth-child(3) {
    grid-column: 1/span 2;
    grid-row: 2/3;
}    

.promo__box:nth-child(4) {
    grid-column: 3/ span 2;
    grid-row: 1/3;
}

.promo__box:nth-child(5) {
    grid-column: 1/3;
    grid-row: 3/4;
}

.promo__box:nth-child(6) {
    grid-column: 1/3;
    grid-row: 4/5;
}

.promo__box:nth-child(7) {
    grid-column: 1/ span 4;
    grid-row: 5/6;
}

.promo__box:nth-child(8) {
    grid-column: 3/4;
    grid-row: 3/5;
}

.promo__box:nth-child(9) {
    grid-column: 4/5;
    grid-row: 3/4;
}

.promo__box:nth-child(10) {
    grid-column: 4/5;
    grid-row: 4/5;
}

.promo__text-four {
    font-size: 30px;
    padding: 31px 27px;
    max-width: 390px;
}

.promo__text-one {
    font-size: 24px;
    font-weight: 400;
}

.text-bold {
    font-size: 30px;
}

.promo__text-two {
    font-size: 24px;
}

.promo__sale-card {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 3;
}

.promo__sale-card-1-2 {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 3;
}

.sale-card {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-white);
    line-height: 130%;
    padding: 24px 9px 25px 8px;
    position: relative;
    z-index: 1;
}

.sale-card::before {
    content: '';
    width: 88px;
    height: 88px;
    border-radius: 50px;
    bottom: 0;
    right: 0;
    background-color: var(--color-orange-bg);
    position: absolute;
    z-index: -1;
}

.promo__text-wrapper-four {
    position: absolute;
    bottom: 22px;
    right: 22px;
    left: 22px;
    background-color: var(--color-blue-bg);
    border-radius: 20px;
    z-index: 3;
}

.text-bold-56 {
    font-size: 40px;
    line-height: 120%;
}

.promo__text-five {
    font-size: 30px;
    line-height: 130%;
    max-width: 251px;
}

.promo__text-six {
    font-size: 30px;
}

.promo__text-seven {
    font-size: 30px;
    padding: 24px 46px 23px 47px;
    line-height: 120%;
}

.promo__text-wrapper-seven {
    bottom: 39px;
    left: 30px;
    border-radius: 16px;
}

.promo__text-bold-nine {
    font-size: 20px;
}

.promo__image {
    border-radius: 16px;
}
}

@media (max-width: 768px) {
    .promo {
        padding-top: 20px;
    }

    .promo__image {
        border-radius: 12px;
    }

    .promo__list {
        display: grid;
        grid-template-columns: 1fr 1fr minmax(min-content, 220px) 1fr;
        grid-template-rows: 1fr 1fr 60px 60px 60px 60px 337px;
        gap: 20px;
    }

    .promo__item-one {
        padding: 10px 4px 18px 10px;
    }

    .promo__item-two {
        padding: 15px 10px 104px 5px;
    }

    .promo__item-three {
        padding: 10px 10px;
    }

    .promo__item-four {
        padding: 310px 10px 10px 10px;
    }

    .promo__item-five {
        padding: 18px 20px;
    }

    .promo__item-six {
        padding: 20px 20px;
    }

    .promo__item-seven {
        padding: 20px 20px;
    }

    .promo__item-nine {
        padding: 14px 14px 12px 14px;
    }

    .promo__box:nth-child(3) {
        grid-column: 1/span 2;
        grid-row: 2/3;
    }    
    
    .promo__box:nth-child(4) {
        grid-column: 3/ span 2;
        grid-row: 1/4;
    }
    
    .promo__box:nth-child(5) {
        grid-column: 1/3;
        grid-row: 3/5;
    }
    
    .promo__box:nth-child(6) {
        grid-column: 1/3;
        grid-row: 5/7;
    }
    
    .promo__box:nth-child(7) {
        grid-column: 1/ span 4;
        grid-row: 7/8;
    }
    
    .promo__box:nth-child(8) {
        grid-column: 3/4;
        grid-row: 4/7;
    }
    
    .promo__box:nth-child(9) {
        grid-column: 4/5;
        grid-row: 4/6;
    }
    
    .promo__box:nth-child(10) {
        grid-column: 4/5;
        grid-row: 6/7;
        border-radius: 16px;
    } 

    .promo__box::after {
        border-radius: 12px;
    }

    .promo__item-ten::after {
        border-radius: 16px;
    }

    .promo__image:nth-child(10) {
        border-radius: 16px;
    }

    .promo__text-one {
        font-size: 20px; 
        font-weight: 400;
        line-height: 110%;
    }
    
    .text-bold {
        font-size: 26px;
        line-height: 110%;
    }

    .promo__text-two {
        font-size: 16px;
    }

    .promo__sale-card {
        position: absolute;
        bottom: 10px;
        right: 10px;
        z-index: 3;
    }
    
    .sale-card {
        font-size: 16px;
        padding: 15px 6px 15px 6px;
    }
    
    .sale-card::before {
        content: '';
        width: 50px;
        height: 50px;
        border-radius: 50px;
        bottom: 0;
        right: 0;
        background-color: var(--color-orange-bg);
        position: absolute;
        z-index: -1;
    }

    .promo__text-wrapper-four {
        position: absolute;
        bottom: 10px;
        right: 10px;
        left: 10px;
        background-color: var(--color-blue-bg);
        border-radius: 12px;
        z-index: 3;
    }

    .promo__text-four {
        font-size: 16px;
        padding: 15px 28px;
    }
    
    .text-bold-56 {
        font-size: 26px;
    }

    .promo__text-five {
        font-size: 16px;
        max-width: 136px;
    }
    
    .promo__text-six {
        font-size: 16px;
    }
    
    .promo__text-seven {
        font-size: 20px;
        padding: 22px 33px;
        line-height: 120%;
    }
    
    .promo__text-wrapper-seven {
        bottom: 26px;
        left: 26px;
        border-radius: 12px;
    }
    
    .promo__text-bold-nine {
        font-size: 16px;
    }

    .promo__image-10 {
        border-radius: 16px;
    }
}

@media (max-width: 480px) {
    .promo__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 130px 118px 280px 118px 118px 130px 130px 123px;
        gap: 20px;
    }

    .promo__item-one {
        padding: 10px 10px;
    }

    .promo__item-two {
        padding: 28px 10px 86px 10px;
    }

    .promo__item-four {
        padding: 234px 10px 10px 10px;
    }

    .promo__item-five {
        padding: 16px 10px;
    }

    .promo__item-six {
        padding: 16px 10px;
    }

    .promo__item-seven {
        padding: 10px 15px;
    }

    .promo__item-nine {
        padding: 106px 10px 10px 9px;
    }

    .promo__box:nth-child(3) {
        grid-column: 1/span 2;
        grid-row: 2/3;
    }    
    
    .promo__box:nth-child(4) {
        grid-column: 1/ span 2;
        grid-row: 3/4;
    }
    
    .promo__box:nth-child(5) {
        grid-column: 1/3;
        grid-row: 4/5;
    }
    
    .promo__box:nth-child(6) {
        grid-column: 1/3;
        grid-row: 5/6;
    }
    
    .promo__box:nth-child(7) {
        grid-column: 1/ span 2;
        grid-row: 8/9;
    }
    
    .promo__box:nth-child(8) {
        grid-column: 1/2;
        grid-row: 6/8;
    }
    
    .promo__box:nth-child(9) {
        grid-column: 2/3;
        grid-row: 6/7;
    }
    
    .promo__box:nth-child(10) {
        grid-column: 2/3;
        grid-row: 7/8;
        border-radius: 16px;
    } 

    .promo__text-one {
        font-size: 12px;
        max-width: 65px;
    }

    .text-bold {
        font-size: 16px;
    }

    .promo__text-two {
        font-size: 12px;
    }

    .promo__text-wrapper-four {
        border-radius: 8px;
    }

    .promo__text-four {
        font-size: 12px;
        padding: 9px 25px;
    }

    .text-bold-56 {
        font-size: 16px;
    }

    .promo__text-five {
        font-size: 12px;
        max-width: 181px;
        line-height: 120%;
    }

    .promo__text-six {
        font-size: 12px;
        line-height: 120%;
    }

    .promo__text-bold-nine {
        font-size: 12px;
        line-height: 120%;
    }

    .promo__sale-card-1-2 {
        top: 5px;
        left: 5px;
    }

    .promo__sale-card {
        bottom: 5px;
        right: 5px;
    }

    .promo__text-wrapper-seven {
        border-radius: 6px;
        bottom: 10px;
        right: 15px;
        left: 15px;
    }

    .promo__text-seven {
        font-size: 12px;
        padding: 7px 41px 9px;
    }

    .promo {
        padding-top: 10px;
        padding-bottom: 234px;
    }

    .promo__image {
        border-radius: 8px;
    }

    .promo__box::after {
        border-radius: 8px;
    }

    .promo__sale-card_type_position {
        bottom: 10px;
        right: 10px;
    }
}


