@import "../css/var.css";
@import "../css/normalize.css";
@import "../css/global.css";
@import "../css/header.css";
@import "../css/banner.css";
@import "../css/promo.css";

@font-face {
    font-family: "Lato";
    src: local("Lato-Regular"), local("Lato Regular"), url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Lato";
    src: local("Lato-Bold"), local("Lato Bold"), url('../fonts/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato-Bold.woff') format('woff');
    font-weight: 700;
    font-display: swap;
}

*{
    box-sizing: border-box;
}

body {
    min-width: 320px;
    min-height: 100vh;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    color: #000;
    margin: 0;
}

.blockquote {
    text-transform: uppercase;
}

.container {
    max-width: 1830px;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
}

@media (max-width: 1024px) {
    .container {
        max-width: 1000px;
        padding: 0 30px;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 768px;
        padding: 0 34px;
    }
}

@media (max-width: 480px) {
    .container {
        max-width: 480px;
        padding: 0 20px;
    }
}
