:root {
    --color-white: #fff;
    --color-bg-button: #3670C7;
    --color-black-txt: #2d2d2d;
    --color-blue-bg: #38C0EB;
    --color-orange-bg: #FFBD13;
    --color-red-txt: #F91155;
    --color-grey-bg: #EFEFEF;
    --color-grey-txt: #8F8F8F;
}